---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/source.toolkit.fluxcd.io/helmrepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: csi-driver-nfs
spec:
  interval: 1h
  url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  interval: 1h
  chart:
    spec:
      chart: csi-driver-nfs
      version: 4.12.1
      sourceRef:
        kind: HelmRepository
        name: csi-driver-nfs
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controller:
      replicas: 1
    storageClasses:
      - name: nfs-slow
        parameters:
          server: fran.outsideour.casa
          share: /mnt/loki/kubernetes
        mountOptions:
          - nfsvers=4.2
          - nconnect=16
          - hard
          - noatime
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
      - name: nfs-unifi
        parameters:
          server: 10.0.10.153
          share: /volume/fefecc64-a47b-4b4a-b25a-c90b935de77c/.srv/.unifi-drive/Nyana/.data
        mountOptions:
          - nfsvers=4.1
        reclaimPolicy: Delete
        volumeBindingMode: Immediate