---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name minecraft-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: minecraft-exporter
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    fullnameOverride: *name
    controllers:
      minecraft-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: itzg/mc-monitor
              tag: 0.16.0@sha256:e795f34c469e46ec31736826cd4a081e2c0db3234c9b9ff15b228c5e3ec6124e
            args: ["export-for-prometheus"]
            env:
              TZ: "America/Los_Angeles"
            envFrom:
              - secretRef:
                  name: minecraft-exporter-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
    service:
      app:
        controller: *name
        ports:
          http:
            port: 8080
    serviceMonitor:
      metrics:
        enabled: true
        serviceName: *name
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 5m
            scrapeTimeout: 2m
