---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app zot
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      zot:
        containers:
          app:
            image:
              repository: ghcr.io/project-zot/zot
              tag: v2.1.14
            env:
              TZ: America/Los_Angeles
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /v2/
                    port: &port 5000
                  initialDelaySeconds: 5
                  periodSeconds: 10
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /v2/
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
    service:
      app:
        controller: zot
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hostnames: ["registry.salmon.cafe"]
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules: [{ backendRefs: [{ name: *app, port: *port }]}]
    persistence:
      data:
        type: nfs
        server: fran.outsideour.casa
        path: /mnt/loki/registry
        globalMounts:
          - path: /var/lib/registry
      config:
        type: configMap
        name: zot-config
        globalMounts:
          - path: /etc/zot/config.json
            subPath: config.json
            readOnly: true