---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: meshtastic
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: meshtastic-secret
    template:
      engineVersion: v2
      templateFrom:
        - target: Data
          configMap:
            name: meshtastic-config
            items:
              - key: config.yaml
                templateAs: Values
        - target: Data
          configMap:
            name: meshtastic-config
            items:
              - key: config.yaml
                templateAs: Values
  dataFrom:
    - extract:
        key: meshtastic-matrix
      rewrite:
        - regexp:
            source: "(.*)"
            target: "meshtastic_$1"