---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: meshtastic
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: meshtastic
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 1000
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
    controllers:
      meshtastic:
        annotations:
          reloader.stakater.com/auto: "true"
        type: statefulset
        replicas: 1
        containers:
          app:
            image:
              repository: ghcr.io/jeremiah-k/mmrelay
              tag: 1.2.9-dev-k8s-fix-1-d75f8cc
            command: ["mmrelay"]
            args:
              [
                "--config",
                "/app/config.yaml",
                "--data-dir",
                "/app/data",
                "--logfile",
                "/tmp/mmrelay.log",
              ]
            env:
              TZ: "America/Los_Angeles"
              PYTHONUNBUFFERED: "1"
              MPLCONFIGDIR: /tmp/matplotlib
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "500m"
                memory: "512Mi"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
    persistence:
      tmp:
        type: emptyDir
      mmrelay:
        type: emptyDir
        globalMounts:
          - path: /home/mmrelay/.mmrelay
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/data
            subPath: data
          - path: /app/store
            subPath: store
      config:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /app/config.yaml
            subPath: config.yaml
          - path: /app/data/credentials.json
            subPath: credentials.json
