---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft-router
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: minecraft-router
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    serviceAccount:
      main:
        enabled: true
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          minecraft-router:
            image:
              repository: ghcr.io/itzg/mc-router
              tag: 1.36.2@sha256:eeddf419bdcef115f23d1953f1fdfca28e9537f5fb3e0c57a7c8f8699a91f628
            env:
              TZ: America/Los_Angeles
              DEBUG: true
              IN_KUBE_CLUSTER: "true"
              API_BINDING: ":8080"
              PORT: &port 25565
              AUTO_SCALE_UP: false
              CONNECTION_RATE_LIMIT: 10
              METRICS_BACKEND: prometheus
              SIMPLIFY_SRV: true
              USE_PROXY_PROTOCOL: true
              RECORD_LOGINS: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 350m
                memory: 64Mi
              limits:
                cpu: 500m
                memory: 96Mi
        serviceAccount:
          identifier: main
    service:
      minecraft-router:
        controller: main
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.0.20.38
        ports:
          java:
            port: *port
          api:
            port: 8080
    route:
      api:
        kind: HTTPRoute
        hostnames: ["{{ .Release.Name }}.ok8.sh"]
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: minecraft-router
                port: 8080
    serviceMonitor:
      minecraft-router:
        serviceName: minecraft-router
        endpoints:
          - port: api
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 30s
