---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sunlight
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: sunlight
  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-io-secret
    controllers:
      sunlight:
        containers:
          app:
            image:
              repository: ghcr.io/waifulabs/sunlight-dashboard
              tag: main@sha256:39d1b35cba17e6f43a20d4b3667cfb44dd117c9e0765857606d34ee4c737c4d1
            envFrom:
              - secretRef:
                  name: sunlight-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
    service:
      app:
        ports:
          http:
            port: &port 3000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.ok8.sh"]
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https