---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-status-token
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: github-status-token-secret
    template:
      data:
        # https://fluxcd.io/flux/components/notification/providers/#personal-access-token
        # token: "{{ .FLUX_GITHUB_TOKEN }}"
        # https://fluxcd.io/flux/components/notification/providers/#github-app-1
        # https://fluxcd.io/flux/components/source/gitrepositories/#configure-github-app-secret
        githubAppID: "{{ .APP_ID }}"
        githubAppInstallationID: "{{ .INSTALLATION_ID }}"
        githubAppPrivateKey: "{{ .PRIVATE_KEY }}"
  dataFrom:
    - extract:
        key: github
