---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: matrix
components:
  - ../../components/namespace
replacements:
  - path: ../../components/replacements/ks.yaml
resources:
  - ./continuwuity/ks.yaml
  - ./dragonfly/ks.yaml
  - ./hookshot/ks.yaml
  - ./meshtastic/ks.yaml