---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.13/website/content/v1.13/schemas/v1alpha1_config.schema.json
version: v1alpha1
debug: false
persist: true
machine:
  ca:
    crt: op://Kubernetes/talos-puddle/CERTS_OS_CRT
    {% if ENV.MACHINE_TYPE == 'controlplane' %}
    key: op://Kubernetes/talos-puddle/CERTS_OS_KEY
    {% endif %}
  features:
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: true
    kubePrism:
      enabled: true
      port: 7445
    {% if ENV.MACHINE_TYPE == 'controlplane' %}
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles: ["os:admin"]
      allowedKubernetesNamespaces: ["actions-runner-system", "system-upgrade"]
    {% endif %}
  files:
    - op: overwrite
      permissions: 0o644
      path: /etc/nfsmount.conf
      content: |-
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  kernel:
    modules:
      - name: zfs
        parameters:
          - zfs_arc_max=257698037760  # 240GB
          - zfs_arc_min=107374182400  # 100GB floor to resist K8s memory pressure
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    image: ghcr.io/siderolabs/kubelet:{{ ENV.KUBERNETES_VERSION }}
    extraMounts:
      - destination: /var/mnt/extra
        type: bind
        source: /var/mnt/extra
        options: ["bind", "rshared", "rw"]
      - destination: /var/mnt/puddle
        type: bind
        source: /var/mnt/puddle
        options: ["bind", "rshared", "rw"]
    nodeIP:
      validSubnets: ["10.0.10.0/24"]
  nodeLabels:
    topology.kubernetes.io/zone: {{ ENV.MACHINE_TYPE }}
  sysctls:
    fs.inotify.max_user_watches: 1048576
    fs.inotify.max_user_instances: 8192
    vm.swappiness: "1"
    vm.vfs_cache_pressure: "50"
  token: op://Kubernetes/talos-puddle/TRUSTDINFO_TOKEN
  type: {{ ENV.MACHINE_TYPE }}
  udev:
    rules:
      - ACTION=="add", SUBSYSTEM=="thunderbolt", ATTR{authorized}=="0", ATTR{authorized}="1"
cluster:
  ca:
    crt: op://Kubernetes/talos-puddle/CERTS_K8S_CRT
    {% if ENV.MACHINE_TYPE == 'controlplane' %}
    key: op://Kubernetes/talos-puddle/CERTS_K8S_KEY
    {% endif %}
  clusterName: puddle
  controlPlane:
    endpoint: https://puddle.ok8.sh:6443
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
  extraManifests:
    - # renovate: datasource=github-releases depName=prometheus-operator/prometheus-operator
      https://github.com/prometheus-operator/prometheus-operator/releases/download/v0.86.2/stripped-down-crds.yaml
  id: op://Kubernetes/talos-puddle/CLUSTER_ID
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets: ["172.30.0.0/16"]
    serviceSubnets: ["172.31.0.0/16"]
  secret: op://Kubernetes/talos-puddle/CLUSTER_SECRET
  token: op://Kubernetes/talos-puddle/SECRETS_BOOTSTRAPTOKEN
  {% if ENV.MACHINE_TYPE == 'controlplane' %}
  aggregatorCA:
    crt: op://Kubernetes/talos-puddle/CERTS_K8SAGGREGATOR_CRT
    key: op://Kubernetes/talos-puddle/CERTS_K8SAGGREGATOR_KEY
  allowSchedulingOnControlPlanes: true
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ ENV.KUBERNETES_VERSION }}
    certSANs: ["puddle.ok8.sh"]
    extraArgs:
      enable-aggregator-routing: true
      feature-gates: MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  coreDNS:
    disabled: true
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  etcd:
    advertisedSubnets: ["10.0.10.0/24"]
    ca:
      crt: op://Kubernetes/talos-puddle/CERTS_ETCD_CRT
      key: op://Kubernetes/talos-puddle/CERTS_ETCD_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
      auto-compaction-mode: periodic
      auto-compaction-retention: "1h"
  proxy:
    disabled: true
  secretboxEncryptionSecret: op://Kubernetes/talos-puddle/SECRETS_ENCRYPTIONSECRET
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  serviceAccount:
    key: op://Kubernetes/talos-puddle/CERTS_KUBERNETES_SERVICEACCOUNT_KEY
  {% endif %}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.13/website/content/v1.13/schemas/config.schema.json
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: 10.0.10.1
searchDomains:
  disableDefault: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.13/website/content/v1.13/schemas/config.schema.json
apiVersion: v1alpha1
kind: TimeSyncConfig
ntp:
  servers:
    - pool.ntp.org
    - time.cloudflare.com
