---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
  interval: 1h
  values:
    fullnameOverride: *app
    extraArgs:
      - "--config.file=/config/snmp.yaml"
    extraConfigmapMounts:
      - name: &name rfc1628-ups-configmap
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *name
        readOnly: true
        defaultMode: 420
    serviceMonitor:
      enabled: true
      params:
        - name: rackups
          target: ups.outsideour.casa
          module: [rfc1628_ups]
          auth: [public_v1]
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - sourceLabels:
            - __param_target
          targetLabel: instance