---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

vars:
  TIMENOW:
    sh: date +%Y%m%d-%H%M%S

tasks:
  browse-pvc:
    desc: Browse PersistentVolumeClaims
    summary: |
      Args:
        cluster: Cluster to run command against (required)
        ns: Namespace to browse PersistentVolumeClaims in (default: default)
        claim: PersistentVolumeClaim to browse (required)
    interactive: true
    cmd: kubectl browse-pvc --context {{.cluster}} --namespace {{.ns}} {{.claim}}
    requires:
      vars: ["cluster", "claim"]

  drain:
    desc: Drain a node
    summary: |
      Args:
        cluster: Cluster to run command against (required)
        node: Node to drain (required)
    cmd: kubectl --context {{.cluster}} drain {{.node}} --ignore-daemonsets --delete-local-data --force
    requires:
      vars: ["cluster", "node"]

  delete-failed-pods:
    desc: Deletes pods with a fucked status
    cmds:
      - for: ["Evicted", "Failed", "Succeeded"]
        cmd: kubectl delete pods --field-selector status.phase={{.ITEM}} -A --ignore-not-found=true

  privileged:
    desc: Run a privileged pod
    cmd: |
      kubectl run privileged-{{.NODE}} -i --rm --image=null \
        --overrides="$(yq {{.ROOT_DIR}}/.taskfiles/Kubernetes/template/privileged-pod.tmpl.yaml -o=json | envsubst)"
    requires:
      vars: ["NODE"]
    env:
      NODE: "{{.NODE}}"
    preconditions:
      - test -f {{.ROOT_DIR}}/.taskfiles/Kubernetes/template/privileged-pod.tmpl.yaml
