---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/barmancloud.cnpg.io/objectstore_v1.json
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: immich
spec:
  retentionPolicy: 30d
  instanceSidecarConfiguration:
    resources:
      limits:
        memory: 512Mi
        cpu: 1
      requests:
        memory: 128Mi
        cpu: 10m
  configuration:
    destinationPath: s3://waifulabs-postgres/immich
    endpointURL: https://s3.us-west-004.backblazeb2.com
    s3Credentials:
      accessKeyId:
        name: cloudnative-pg-secret
        key: S3_ACCESS_KEY
      secretAccessKey:
        name: cloudnative-pg-secret
        key: S3_SECRET_KEY
    wal:
      compression: zstd
    data:
      compression: gzip