---
apiVersion: v1
kind: Service
metadata:
  name: immich-lb
  annotations:
    io.cilium/lb-ipam-ips: 10.0.20.34
spec:
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: immich
    role: primary