---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app drizzle-gateway
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: drizzle-gateway
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      drizzle:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/drizzle-team/gateway
              tag: latest
            env:
              PORT: &port 8080
              STORE_PATH: /data
              DATABASE_URL_IMMICH:
                valueFrom:
                  secretKeyRef:
                    name: immich-app
                    key: uri
              DATABASE_URL_CRUNCHYDATA:
                valueFrom:
                  secretKeyRef:
                    name: postgres-pguser-postgres
                    key: uri
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: drizzle
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.ok8.sh"]
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: *app
      tmp:
        type: emptyDir
