---
bridge:
  # Basic homeserver configuration
  domain: ok8.sh
  url: http://continuwuity.default.svc.cluster.local:8080
  mediaUrl: https://matrix.ok8.sh
  port: 9993
  bindAddress: 0.0.0.0
logging:
  # Logging settings. You can have a severity debug,info,warn,error
  level: debug
  colorize: true
  json: true
  timestampFormat: HH:mm:ss:SSS
passFile: /secrets/passkey.pem
  # A passkey used to encrypt tokens stored inside the bridge.
  # Run openssl genpkey -out passkey.pem -outform PEM -algorithm RSA -pkeyopt rsa_keygen_bits:4096 to generate
listeners:
  # HTTP Listener configuration.
  # Bind resource endpoints to ports and addresses.
  # 'port' must be specified. Each listener must listen on a unique port.
  # 'bindAddress' will default to '127.0.0.1' if not specified, which may not be suited to Docker environments.
  # 'resources' may be any of webhooks, widgets, metrics
  - port: 9000
    bindAddress: 0.0.0.0
    resources:
      - webhooks
  - port: 9001
    bindAddress: 127.0.0.1
    resources:
      - metrics
  - port: 9002
    bindAddress: 0.0.0.0
    resources:
      - widgets

permissions:
  # Allow this specific user to do any action
  - actor: "@kashall:ok8.sh"
    services:
      - service: "*"
        level: admin
  # Allow all users to send commands to existing services
  - actor: "*"
    services:
      - service: "*"
        level: commands
  # Allow users on this domain to enable notifications on any service.
  - actor: "*"
    services:
      - service: "*"
        level: notifications
  # Allow users on this domain to create connections.
  - actor: "*"
    services:
      - service: "*"
        level: manageConnections
github:
  # (Optional) Configure this to enable GitHub support
  auth:
    # Authentication for the GitHub App.
    id: {{ .GITHUB_APP_ID }}
    privateKeyFile: /secrets/github-key.pem
  webhook:
    # Webhook settings for the GitHub app.
    secret: {{ .GITHUB_WEBHOOK_SECRET }}
  oauth:
    # (Optional) Settings for allowing users to sign in via OAuth.
    client_id: {{ .GITHUB_OAUTH_CLIENT_ID }}
    client_secret: {{ .GITHUB_OAUTH_CLIENT_SECRET }}
    redirect_uri: https://hookshot.ok8.sh/oauth/
  defaultOptions:
    # (Optional) Default options for GitHub connections.
    showIssueRoomLink: false
    hotlinkIssues:
      prefix: "#"
  userIdPrefix:
    # (Optional) Prefix used when creating ghost users for GitHub accounts.
    _github_

#generic:
#  # (Optional) Support for generic webhook events.
#  #'allowJsTransformationFunctions' will allow users to write short transformation snippets in code, and thus is unsafe in untrusted environments

#  enabled: false
#  outbound: false
#  urlPrefix: https://example.com/webhook/
#  userIdPrefix: _webhooks_
#  allowJsTransformationFunctions: false
#  waitForComplete: false
#  enableHttpGet: false
#  sendExpiryNotice: false
#  requireExpiryTime: false
#  maxExpiryTime: 30d
#  includeHookBody: true

bot:
  # (Optional) Define profile information for the bot user
  displayname: Hookshot Bot
  avatar: mxc://half-shot.uk/2876e89ccade4cb615e210c458e2a7a6883fe17d

#serviceBots:
#  # (Optional) Define additional bot users for specific services
#  - localpart: feeds
#    displayname: Feeds
#    avatar: ./assets/feeds_avatar.png
#    prefix: "!feeds"
#    service: feeds

#widgets:
#  # (Optional) EXPERIMENTAL support for complimentary widgets
#  addToAdminRooms: false
#  publicUrl: https://example.com/widgetapi/v1/static/
#  roomSetupWidget:
#    addOnInvite: false
#  disallowedIpRanges:
#    - 127.0.0.0/8
#    - 10.0.0.0/8
#    - 172.16.0.0/12
#    - 192.168.0.0/16
#    - 100.64.0.0/10
#    - 192.0.0.0/24
#    - 169.254.0.0/16
#    - 192.88.99.0/24
#    - 198.18.0.0/15
#    - 192.0.2.0/24
#    - 198.51.100.0/24
#    - 203.0.113.0/24
#    - 224.0.0.0/4
#    - ::1/128
#    - fe80::/10
#    - fc00::/7
#    - 2001:db8::/32
#    - ff00::/8
#    - fec0::/10
#  branding:
#    widgetTitle: Hookshot Configuration

metrics:
  # (Optional) Prometheus metrics support
  enabled: true

cache:
  redisUri: redis://dragonfly.matrix.svc.cluster.local:6379
encryption:
  storagePath: /encryption

#sentry:
#  # (Optional) Configure Sentry error reporting
#  dsn: https://examplePublicKey@o0.ingest.sentry.io/0
#  environment: production