---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app hookshot
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: hookshot
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 1000
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
    controllers:
      hookshot:
        annotations:
          reloader.stakater.com/auto: "true"
        type: statefulset
        replicas: 1
        containers:
          app:
            image:
              repository: ghcr.io/matrix-org/matrix-hookshot
              tag: 7.2.0
            env:
              TZ: "America/Los_Angeles"
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "500m"
                memory: "512Mi"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
    service:
      app:
        controller: hookshot
        ports:
          http:
            port: 9000
          metrics:
            port: 9001
          widgets:
            port: 9002
          homeserver:
            port: 9993
    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["hookshot.ok8.sh"]
        parentRefs:
          - name: external
            namespace: networking
            sectionName: https
        rules: [{ backendRefs: [{ name: *app, port: 9000 }]}]
    persistence:
      tmp:
        type: emptyDir
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
            subPath: data
          - path: /encryption
            subPath: encryption
      config:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /data/config.yml
            subPath: config.yaml
          - path: /secrets/github-key.pem
            subPath: github-key.pem
          - path: /secrets/passkey.pem
            subPath: passkey.pem
          - path: /data/registration.yml
            subPath: registration.yaml
